.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    font-family: "Poppins";
   
    
    margin: 10px 20px;
    
    

}
.navbar-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border: #cbcbcb;
    background: white;
    border-radius: 6px;
    width: 200px;
    
    height: 70px;
    padding: 30px 50px;
    padding-right: 80px;


}
.navbar-logo p{
    font-size: 25px;
    font-weight: 500;
    font-family: "Poppins";
}
.navbar-search{
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    border-radius: 6px;
    background: white;
    padding: 3px 20px;
    width: 500px;
    height: 70px;
}
.navbar-search input{
    border: none;
    outline: none;
    color: #cbcbcb;
    width: 400px;
    font-weight: 500;
    font-size: 15px;
}
.navbar-search img{
    cursor: pointer;
}
.navbar-content{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border: #cbcbcb;
    background: #88C2BB;
    border-radius: 6px;
    cursor: pointer;
    width: 250px;
    height: 70px;
    padding: 30px 50px;

}
.navbar-content p{
    font-size: 18px;
    font-weight: 400;
    color: white;
}
@media(max-width:1200px){
    .navbar{

        
        gap: 30px;
        margin: 2px 3px;
    }
    .navbar-logo{
   

        
        height: 50px;
        padding: 20px 30px;
        padding-right: 60px;
    
    
    }
    .navbar-logo p{
        font-size: 18px;
        font-weight: 500;
       
    }
    .navbar-search{

        padding: 10px 20px;
        width: 400px;
        height: 50px;
    }
    .navbar-search input{

        width: 300px;
        font-weight: 500;
        font-size: 12px;
    }
    .navbar-search p{
        font-size: 12px;
    }
    .navbar-content{

        
        height: 50px;
        padding: 20px 30px;
       
    }

    
}
